@media(max-width: 2000px) {
    .input1 {
        font-size: 35px;
    }
    .buttons>button {
        font-size: 35px;
    }
    .ul>li {
        font-size: 35px;
    }
    .burg {
        display: none;
    }
    .webs {
        display: flex;
        font-size: 30px;
        background-color: rgb(248, 236, 252);
    }
}

@media(max-width: 1024px) {
    .input1 {
        font-size: 25px;
    }
    .buttons>button {
        font-size: 25px;
    }
    .ul>li {
        font-size: 40px;
    }
    .burg {
        display: none;
    }
    .webs {
        font-size: 20px;
        display: flex;
        background-color: rgb(248, 236, 252);
    }
    #speak {
        margin-left: 7%;
    }
}

@media(max-width: 768px) {
    .input1 {
        font-size: 18px;
    }
    .buttons>button {
        font-size: 18px;
    }
    .ul>li {
        font-size: 18px;
    }
    .burg {
        display: block;
    }
    .webs {
        display: none;
    }
    .tap:hover .webs {
        display: block;
        position: absolute;
    }
    .burg:hover {
        background-color: rgb(234, 219, 248);
    }
    .nav {
        justify-content: space-between;
    }
}

@media(max-width: 480px) {
    .input1 {
        font-size: 10px;
    }
    .buttons>button {
        font-size: 10px;
    }
    .ul>li {
        font-size: 10px;
    }
    .burg {
        display: block;
    }
    .webs {
        display: none;
    }
    .tap:hover .webs {
        display: block;
        position: absolute;
    }
    .burg:hover {
        background-color: rgb(234, 219, 248);
    }
    .nav {
        justify-content: space-between;
    }
}

@media(max-width: 30px) {
    .input1 {
        font-size: 18px;
        height: 40px;
    }
    .buttons>button {
        font-size: 18px;
    }
    .ul>li {
        font-size: 18px;
    }
    .burg {
        display: block;
    }
    .webs {
        display: none;
    }
    .tap:hover .webs {
        display: block;
        position: absolute;
    }
    .burg:hover {
        background-color: rgb(234, 219, 248);
    }
    .nav {
        justify-content: space-between;
    }
}
