* {
    margin: 0;
    padding: 0;
}

img {
    display: none;
}

button {
    height: 210px;
    width: 210px;
    font-size: 88px;
    background-color: rgb(234, 219, 248)
}

.ult {
    display: flex;
    padding: 5px;
    padding-top: 10px;
}

.container {
    display: grid;
    background-color: rgb(201, 226, 233);
}

@media(max-width: 2000px) {
    .ult:hover button {
        display: none;
    }
    .container {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(7);
    }
    .ult:hover img {
        display: block;
        position: absolute;
        height: 300px;
    }
}

@media(max-width: 1500px) {
    .ult:hover button {
        display: none;
    }
    .container {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(8);
    }
    .ult:hover img {
        display: block;
        position: absolute;
        height: 300px;
    }
}

@media(max-width: 1400px) {
    .ult:hover button {
        display: none;
    }
    .container {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(8);
    }
    .ult:hover img {
        display: block;
        position: absolute;
        height: 300px;
    }
}

@media(max-width: 1024px) {
    .ult:hover button {
        display: none;
    }
    .container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(9);
    }
    .ult:hover img {
        display: block;
        position: absolute;
        height: 300px;
    }
}

@media(max-width: 768px)  {
    .ult:hover button {
        display: none;
    }
    .container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(14);
    }
    .ult:hover img {
        display: block;
        position: absolute;
        height: 250px;
    }
}

@media(max-width: 550px) {
    .ult:hover button {
        display: none;
    }
    .container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(21);
    }
    .ult:hover img {
        display: block;
        position: absolute;
        height: 300px;
    }
}

@media(max-width: 400px) {
    .ult:hover button {
        display: none;
    }
    .container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(45);
    }
    .ult:hover img {
        display: block;
        position: absolute;
        height: 300px;
    }
}